
.auth-window form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    width: 50%;
    margin: 0 auto;
    padding: 24px 40px;
    border-radius: 13px;
    gap: 12px;
    margin-top: 40px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.switch{
    border: 1px solid black;
    width: 15%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 13px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.25s;
    background-color: #d6d6d6;
    border: none;
}
.switch:hover{
    background-color: #ebe6e6;
}

.auth-window form .input-field{
    border-radius: 13px;
    border: 1px solid #d6d6d6;
    padding: 8px 16px;
}
.auth-window form .submit-btn{
    border-radius: 13px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.25s;
    background-color: #d6d6d6;
}
.auth-window form .submit-btn:hover{
    border-radius: 13px;
    background-color: #ebe6e6;
    padding: 8px 16px;
}
